
@{
    ViewBag.Title = "Progress sample";
}

<h2>Progress bar sample</h2>

<div class="progress" style="display:none">
    <div class="progress-bar" role="progressbar" aria-valuenow="70"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <span class="sr-only">70% Complete</span>
    </div>
</div>


<input type="button" value="Start" class="btn btn-lg btn-primary" onclick="startDBOperation()" />


<script type="text/javascript">

    function startDBOperation() {
       
        // ajax request started
        $.post('/home/StartSomeDbOperation', { }, function (response) {
            if (response.status == true) {
                startGettingProgress();
                setPercetValue(response.percentCompleted);
            }
        });
    }


    function startGettingProgress() {

        $('.progress').show();

        var intrVl = setInterval(function () {

            // ajax request started
            $.post('/home/GetProgressStatus', {  }, function (response) {

                // Code to stop interval
               if (response.percentCompleted >= 100) {
                   clearInterval(intrVl);
                   $('.progress').hide();
                   setPercetValue(0);
                }

                // Set progressbar width percent
               setPercetValue(response.percentCompleted);

            });

        }, 1000);   // Called after every one second
    }


    function setPercetValue(val) {

        var _widthPercent = val + '%';

        $('.progress-bar').width(_widthPercent);
        $('.sr-only').html(_widthPercent + ' Complete');
    }

</script>

